.ipynb_checkpoints/
Data/.ipynb_checkpoints/
Data/sentinel2/ca/T*/
Data/landsat/
Data/shapefiles/
Data/archive/
actual477_to_satmask.ipynb
celltowers_to_satmask.ipynb
Data/fcc477actual/sentinel2/ca/.cat10_T10SGE_composite.tif.icloud
Data/fcc477actual/sentinel2/ca/.cat10_T10SGF_composite.tif.icloud
Data/fcc477actual/sentinel2/ca/.cat10_T10TDK_composite.tif.icloud
Data/fcc477actual/sentinel2/ca/.cat10_T10TDL_composite.tif.icloud
Data/fcc477actual/sentinel2/ca/.cat10_T10TEK_composite.tif.icloud
Data/fcc477actual/sentinel2/ca/.cat10_T10TEL_composite.tif.icloud
Data/fcc477actual/sentinel2/ca/.cat10_T10TFK_composite.tif.icloud
Data/fcc477actual/sentinel2/ca/.cat10_T10TFL_composite.tif.icloud
Data/fcc477actual/sentinel2/ca/.cat10_T11SKA_composite.tif.icloud
Data/fcc477actual/sentinel2/ca/.cat10_T11SKV_composite.tif.icloud
Data/fcc477actual/sentinel2/ca/.cat10_T11SLB_composite.tif.icloud
Data/fcc477actual/sentinel2/ca/.cat10_T11SLT_composite.tif.icloud
Data/fcc477actual/sentinel2/ca/.cat10_T11SMA_composite.tif.icloud
Data/fcc477actual/sentinel2/ca/.cat2_T10SGF_composite.tif.icloud
Data/fcc477actual/sentinel2/ca/.cat2_T10TDK_composite.tif.icloud
Data/fcc477actual/sentinel2/ca/.cat2_T10TDL_composite.tif.icloud
Data/fcc477actual/sentinel2/ca/.cat2_T10TEK_composite.tif.icloud
Data/fcc477actual/sentinel2/ca/.cat2_T10TEL_composite.tif.icloud
Data/fcc477actual/sentinel2/ca/.cat2_T10TFK_composite.tif.icloud
Data/fcc477actual/sentinel2/ca/.cat2_T10TFL_composite.tif.icloud
Data/fcc477actual/sentinel2/ca/.cat2_T11SKA_composite.tif.icloud
Data/fcc477actual/sentinel2/ca/.cat2_T11SKV_composite.tif.icloud
Data/fcc477actual/sentinel2/ca/.cat2_T11SLB_composite.tif.icloud
Data/fcc477actual/sentinel2/ca/.cat2_T11SLT_composite.tif.icloud
Data/fcc477actual/sentinel2/ca/.cat2_T11SMA_composite.tif.icloud
Data/fcc477actual/sentinel2/ca/.cat2_T11SMV_composite.tif.icloud
Data/fcc477actual/sentinel2/ca/cat10_T10SGE_composite.tif
Data/fcc477actual/sentinel2/ca/cat10_T10SGF_composite.tif
Data/fcc477actual/sentinel2/ca/cat10_T10TDK_composite.tif
Data/fcc477actual/sentinel2/ca/cat10_T10TDL_composite.tif
Data/fcc477actual/sentinel2/ca/cat10_T10TEK_composite.tif
Data/fcc477actual/sentinel2/ca/cat10_T10TEL_composite.tif
Data/fcc477actual/sentinel2/ca/cat10_T10TFK_composite.tif
Data/fcc477actual/sentinel2/ca/cat10_T10TFL_composite.tif
Data/fcc477actual/sentinel2/ca/cat10_T11SKA_composite.tif
Data/fcc477actual/sentinel2/ca/cat10_T11SKV_composite.tif
Data/fcc477actual/sentinel2/ca/cat10_T11SLB_composite.tif
Data/fcc477actual/sentinel2/ca/cat10_T11SLT_composite.tif
Data/fcc477actual/sentinel2/ca/cat10_T11SMA_composite.tif
Data/fcc477actual/sentinel2/ca/cat2_T10SGF_composite.tif
Data/fcc477actual/sentinel2/ca/cat2_T10TDK_composite.tif
Data/fcc477actual/sentinel2/ca/cat2_T10TDL_composite.tif
Data/fcc477actual/sentinel2/ca/cat2_T10TEK_composite.tif
Data/fcc477actual/sentinel2/ca/cat2_T10TEL_composite.tif
Data/fcc477actual/sentinel2/ca/cat2_T10TFK_composite.tif
Data/fcc477actual/sentinel2/ca/cat2_T10TFL_composite.tif
Data/fcc477actual/sentinel2/ca/cat2_T11SKA_composite.tif
Data/fcc477actual/sentinel2/ca/cat2_T11SKV_composite.tif
Data/fcc477actual/sentinel2/ca/cat2_T11SLB_composite.tif
Data/fcc477actual/sentinel2/ca/cat2_T11SLT_composite.tif
Data/fcc477actual/sentinel2/ca/cat2_T11SMA_composite.tif
Data/fcc477actual/sentinel2/ca/cat2_T11SMV_composite.tif
Data/FCCCSV/F477_2019_06_Actual_Area_Methodology_By_DBA_VerizonWireless.csv
Data/FCCCSV/F477_2019_06_Actual_Area_Methodology_State_MD.csv
Data/FCCCSV/F477_2019_06_Aggregated_by_State_MD.csv
